.block-header-container {
  width: 100%;
  background: linear-gradient( -90deg, #323C64 0%, #323C64 5%, #21589d 16%, #3b97d1 35%, #2771b3 53%, #323C64 74%, #323C64 100%);
  z-index: 1000;
  color: $white;
  .block-header-content {
    margin: 0 auto;
    padding: 0 20px;
    .button-logo {
      display: inline-block;
      padding: 20px 20px 20px 0;
      .logo {
        width: auto;
        vertical-align: middle;
        height: auto;
        margin: 0;
        padding: 0;
        cursor: pointer;
      }
    }
  }
}